.search-form input[type='text'], 
.search-form input[type='email'],
.search-form input[type='password'] {
    width:75%;
}

.search-form .ng-invalid {
  border-left: 5px solid #a94442;
}

.search-form .ng-valid {
  border-left: 5px solid #42A948;
}

.center-div
{
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}