<div class="w-footer">
    <div class="grid-container">
        <div class="link-lists">
            <div class="list-column">
                <div class="row">
                    <div class="col-xs-6 col-md-12 logo">
                        <a class="" routerLink="/home">
                            <img src="assets/M_logo.png" style="width: 50px;" alt="logo"/>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group" data-header="Select a Language">
                            <select class="selectpicker form-control" data-width="auto" data-live-search="true">
                                <option data-subtext="Heinz" data-icon="glyphicon-heart" value="id">Bahasa Indonesia
                                </option>
                                <option value="ms">Bahasa Melayu</option>
                                <option value="ca">Català</option>
                                <option value="da">Dansk</option>
                                <option value="de">Deutsch</option>
                                <option value="en">English</option>
                                <option value="es">Español</option>
                                <option value="el">Eλληνικά</option>
                                <option value="fr">Français</option>
                                <option value="it">Italiano</option>
                                <option value="hu">Magyar</option>
                                <option value="nl">Nederlands</option>
                                <option value="no">Norsk</option>
                                <option value="pl">Polski</option>
                                <option value="pt">Português</option>
                                <option value="fi">Suomi</option>
                                <option value="sv">Svenska</option>
                                <option value="tr">Türkçe</option>
                                <option value="is">Íslenska</option>
                                <option value="cs">Čeština</option>
                                <option value="ru">Русский</option>
                                <option value="th">ภาษาไทย</option>
                                <option value="zh">中文 (简体)</option>
                                <option value="zh-TW">中文 (繁體)</option>
                                <option value="ja">日本語</option>
                                <option value="ko">한국어</option>
                            </select>
                            <span class="arrow"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                            <path fill-rule="evenodd"
                                                  d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path>
                                        </svg>
                                        </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group selectContainer" data-header="Select a Currency">
                            <select class="selectpicker form-control" data-width="auto" data-live-search="true">
                                <option data-subtext="" data-icon="glyphicon-heart" value="AED">AED</option>
                                <option value="ARS">ARS</option>
                                <option value="AUD">AUD</option>
                                <option value="BGN">BGN</option>
                                <option value="BRL">BRL</option>
                                <option value="CAD">CAD</option>
                                <option value="CHF">CHF</option>
                                <option value="CLP">CLP</option>
                                <option value="CNY">CNY</option>
                                <option value="COP">COP</option>
                                <option value="CRC">CRC</option>
                                <option value="CZK">CZK</option>
                                <option value="DKK">DKK</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="HKD">HKD</option>
                                <option value="HRK">HRK</option>
                                <option value="HUF">HUF</option>
                                <option value="IDR">IDR</option>
                                <option value="ILS">ILS</option>
                                <option value="INR">INR</option>
                                <option value="JPY">JPY</option>
                                <option value="KRW">KRW</option>
                                <option value="MAD">MAD</option>
                                <option value="MXN">MXN</option>
                                <option value="MYR">MYR</option>
                                <option value="NOK">NOK</option>
                                <option value="NZD">NZD</option>
                                <option value="PEN">PEN</option>
                                <option value="PHP">PHP</option>
                                <option value="PLN">PLN</option>
                                <option value="RON">RON</option>
                                <option value="RUB">RUB</option>
                                <option value="SAR">SAR</option>
                                <option value="SEK">SEK</option>
                                <option value="SGD">SGD</option>
                                <option value="THB">THB</option>
                                <option value="TRY">TRY</option>
                                <option value="TWD">TWD</option>
                                <option value="UAH">UAH</option>
                                <option value="USD">USD</option>
                                <option value="UYU">UYU</option>
                                <option value="VND">VND</option>
                                <option value="ZAR">ZAR</option>
                            </select>
                            <span class="arrow"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                            <path fill-rule="evenodd"
                                                  d="M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z"></path>
                                        </svg>
                                        </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-column">
                <h3>Our Community
                    <div class="expandCollapse">
                        <span data-toggle="collapse" class="arrow-toggle collapsed" data-target="#community">
                            <span class="icon-chevron-up"></span>
                            <span class="icon-chevron-down"></span>
                        </span>
                    </div>
                </h3>
                <div id="community" class="panel-collapse collapse">
                    <div class="list-group">
                        <a href="/diversity">Diversity</a>
                        <a href="/why-mockii">Why Mockii</a><!--Satisfaction&ndash-->
                        <a href="/referrals">Referals</a>
                        <a href="/professionals">Professionals</a>
                    </div>
                </div>
            </div>

            <div class="list-column">
                <h3>We Care
                    <div class="expandCollapse">
                        <span data-toggle="collapse" class="arrow-toggle collapsed" data-target="#weCare">
                            <span class="icon-chevron-up"></span>
                            <span class="icon-chevron-down"></span>
                        </span>
                    </div>
                </h3>
                <div id="weCare" class="panel-collapse collapse">
                    <div class="list-group">
                        <a href="/contact-us">Contact Us</a>
                        <a href="/endless-faqs">Endless FAQs</a>
                        <a href="/refunds">Refunds</a>
                        <a href="/payments">Payments & Taxes</a>
                    </div>
                </div>
            </div>

            <div class="list-column">
                <h3>Mockii
                    <div class="expandCollapse">
                        <span data-toggle="collapse" class="arrow-toggle collapsed" data-target="#mockii">
                            <span class="icon-chevron-up"></span>
                            <span class="icon-chevron-down"></span>
                        </span>
                    </div>
                </h3>
                <div id="mockii" class="panel-collapse collapse">
                    <div class="list-group">
                        <a href="/about-us">About Us</a>
                        <a href="/careers">Careers</a>
                        <!--<a href="/press-room" style="opacity: 1;">Press Room</a>-->
                        <a href="/terms-of-use">Terms of Use</a>
                        <a href="/privacy-policy">Privacy Policy</a>
                        <!--<a href="/technology" style="opacity: 1;">Technology</a>-->
                        <!--<a href="/international" style="opacity: 1;">International</a>-->
                        <!--<a href="/affiliates" style="opacity: 1;">Affiliates</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-wrapper">
            <p>Subscribe to our newsletter for weekly updates</p>
            <form method="post" class="form-inline" action="/subscribe">
                <div class="form-group">
                    <input type="email" class="form-control subscribeInput" placeholder="jane.doe@example.com">
                </div>
                <button type="submit" class="btn btn-outline-success my-sm-0 subscribeButton">Subscribe</button>
            </form>
        </div>
        <div class="w-country-copyright">
            <span class="copyright-proper">
              © Copyright 2017 Ark Innovations, Llc. All rights reserved.
            </span>
        </div>
    </div>
</div>