<nav class="navbar navbar-toggleable-md navbar-fixed-top navbar-dark bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-sm-up" type="button" (click)="isCollapsed = !isCollapsed" style="float: right; margin-top: 2px;"
            data-toggle="isCollapsed = !isCollapsed" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="isCollapsed" aria-label="Toggle navigation">
            {{menuIcon}}
    </button>
    <a class="navbar-brand" routerLink="/dashboard">
        <img src="assets/M_logo.png"  style="width: 30px;" alt="logo"/>
    </a>

    <div class="navbar-toggleable-xs navbar-collapse header-nav" id="bd-main-nav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a></li>
            <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/interviewer">Interviewer</a></li>
            <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/interviewee">Interviewee</a></li>
            <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/recruiter">Recruiter</a></li>
            <li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin">Admin</a></li>
            <!--<li (click)="isCollapsed = true" class="nav-item" routerLinkActive="active" (click)="loginOrOut()"><a>{{ loginLogoutText }}</a></li>-->
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </div>
</nav>