/*Apply when screen resolution exceeds 770px*/
@media (min-width: 770px) {
    .header-nav {
        margin-top: -40px;
        float: right;
    }
    .collapse {
          display: block;
     }
    .navbar-toggleable-md .navbar-nav {
        float: left;
        height: 0;
        margin-right: 25px;
        margin-top: 0;
    }
    .navbar-toggleable-md .navbar-nav .nav-item {
        float: left;
        margin-left: 15px;
    }
    .access {
        float: right;
    }
}
/*Apply when screen resolution exceeds 991px*/
@media (min-width: 991px) {
    .header-nav {
        /*margin-top: auto;*/
        margin-top: 3px;
    }
}
@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-brand {
        margin-top: 0px;
    }
}
/*Apply when screen resolution is below 770px*/
@media (max-width: 770px) {
    .header-nav {
        margin-left: 25px;
        width: 100%;
    }
    .header-nav ul a {
        padding: 15px 10px;
        border-bottom: 1px solid #fcfcfc;
        width: 85%;
    }
    .navbar-toggler {
        background-image: none;
        border: solid 1px silver;
        border-radius: 2px;
        color: #eee;
    }
    .access {
        width: 50%;
        margin: auto;
        text-align: center;
    }
}
/*Apply when screen resolution is below 381px*/
@media (max-width: 381px) {
    .access {
        width: 65%;
        margin: auto;
    }
}
.btn-outline-success:focus {
    outline: 0;
}
.btn-outline-success:hover {
    background-color: red;
    border-color: rgba(0,0,0,.5);
    outline: 0;
}
.btn-outline-success {
    color: white;
    border-color: rgba(0,0,0,.075);
    background-color: transparent;
    transition: all .5s;
}