@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.heroes .text {
    position: relative;
    top: -3px;
}

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

/*.navbar .navbar-search .dropdown-menu {
    min-width: 25px;
}*/

.dropdown-menu .label-icon {
    margin-left: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

span.divider {
    margin-top: 3.5rem;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNTk1MzhkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #666096), color-stop(50%, #ffffff), color-stop(100%, #666096));
    background-image: -webkit-linear-gradient(left, #666096 0%, #ffffff 50%, #666096 100%);
    background-image: -webkit-linear-gradient(left, #666096 0%, #ffffff 50%, #666096 100%);
    /*background-image: linear-gradient(to right, #666096 0%, #ffffff 50%, #666096 100%);*/
    background-image: linear-gradient(to right, #ffffff -10%, #666096 50%, #ffffff 110%);
    border: none;
    height: 2px;
    display: block;
    margin: 35px 0px;
}

span.divider.center {
    margin-right: auto;
    margin-left: auto;
}