/*Apply when screen resolution exceeds 770px*/
@media (min-width: 770px) {
    .header-nav {
        /*margin-top: -40px;*/
        float: right;
    }
    .collapse {
          display: block;
     }
    .navbar-toggleable-md .navbar-nav {
        float: left;
        /*height: 0;*/
        margin-right: 40px;
        margin-top: 0;
    }
    .navbar-toggleable-md .navbar-nav .nav-item {
        float: left;
        margin-left: 40px;
        list-style: none;
    }
    .access {
        float: right;
    }

    .search {
        display: none;
    }

    li:hover {
        border-bottom-color: black;
        border-bottom-style: ridge;
        border-bottom-width: 1px;
        color: #9a3636;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: black;
        font-weight: 200;
    }

    .navbar-dark .navbar-nav .active>.nav-link {
        color: #9a3636;
    }

    a:hover {
        color: #9a3636 !important;
        cursor: pointer;
    }

    li:active {
       color: blue;
    }

    a:active {
        color: blue;
    }
}
/*Apply when screen resolution exceeds 991px*/
@media (min-width: 991px) {
    .header-nav {
        /*margin-top: auto;*/
        /*margin-top: 3px;*/
        margin-left: 25%;
    }
}
@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-brand {
        margin-top: 0px;
        float: left;
    }
    .navbar-toggleable-md .navbar-nav .nav-item {
        list-style: none;
    }
}
/*Apply when screen resolution is below 770px*/
@media (max-width: 770px) {
    .header-nav {
        margin-left: 25px;
        width: 100%;
    }
    .header-nav ul a {
        padding: 15px 10px;
        border-bottom: 1px solid #ffffff;
        width: 85%;
        border-bottom-style: outset;
        color: black;
        font-weight: 200;
    }
    .navbar-toggler {
        background-image: none;
        border-radius: 2px;
        color: #000 !important;
        float: right;
        margin-top: 2px;
        outline: 0;
    }
    .navbar-toggler:hover {
        /*color: #000;*/
        cursor: pointer;
    }
    .access {
        width: 85%;
        margin-left: inherit;
        text-align: center;
    }

    .search {
        width: 60%;
        margin: auto;
        margin-top: 4px;
        outline: 0;
        font-size: medium;
        font-family: cursive;
    }

    .hidden-md-up {
        display: inherit !important;
    }

    /* forms with icons */
    .has-search {
        position: relative;
    }

    .has-search label ~ .form-control-search {
        top: 27px;
    }

    .searchInput {
        padding-left: 30px;
        padding-right: inherit;
    }

    .form-control-lg + .form-control-search,
    .has-search label.sr-only ~ .form-control-lg + .form-control-search {
        height: 48px;
        top: 4px;
    }

    /* Disabled forms */
    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    /* forms with icons */
    .form-control-search {
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        top: 0;
        position: absolute;
        right: 5px;
        z-index: 2;
        text-align: center;
        pointer-events: none;
        float: left;
        left: 2px;
        top: 5px;
    }

    li:hover {
        color: #9a3636 !important;
    }

    a:hover {
        color: #9a3636 !important;
    }
}
/*Apply when screen resolution is below 381px*/
@media (max-width: 381px) {
    .access {
        width: 65%;
        margin: auto;
    }
}

.btn-outline-success:focus {
    outline: 0;
}
.btn-outline-success:hover {
    background-color: red;
    border-color: rgba(0,0,0,.5);
    outline: 0;
}
.btn-outline-success {
    color: white;
    border-color: rgba(0,0,0,.075);
    background-color: transparent;
    transition: all .5s;
}

.login {
    color: black;
    /*background-color: darkgray;*/
    outline: 0;
    border-color: aqua;
}

.bg-inverse {
    background-color: white !important;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    border-bottom-color: black;
    z-index: 2000;
}